.MapPage {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.MapPage .menu-container {
  width: 60px;
  flex-grow: 0;
}

.MapPage .project-detail-container {
  width: 360px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: var(--color-grey-lighter);
}

.MapPage .point-detail-container {
  width: 360px;
  flex-shrink: 0;
  flex-grow: 0;
}

.MapPage .map-and-tools-menu-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.MapPage .tools-menu-container {
  flex-grow: 1;
  height: 60px;
  width: 100%;
  border-left: 1px solid #40525f;
}

.MapPage .map-container {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.MapPage-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
