.MainMap {
    width: 100%;
    height: 100%;
}

.MainMap .cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
}

.MainMap .drawing-polygon {
    cursor: crosshair;
}
