.MainMap {
    width: 100%;
    height: 100%;
}

.MainMap .cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
}

.MainMap .close-polygon-tooltip {
    position: absolute;
    z-index: 10000;
    height: 35px;
    width: 90px;
    padding: 5px;
    border-radius: 4px;
    background: #29353D;
    color: #859cad;
    font-weight: bold;
}

.MainMap .drawing-polygon {
    cursor: crosshair;
}

.MainMap .drawing-arrow {
    cursor: crosshair;
}

.MainMap .drawing-point {
    cursor: none;
}

.MainMap .drawing-cross {
    cursor: none;
}

.leaflet-popup .leaflet-popup-content-wrapper{
    border-radius: 0;
    box-shadow: none;
}

.leaflet-popup .leaflet-popup-content{
    margin: 8px 14px;
}

.leaflet-popup .leaflet-popup-tip{
    width: 10px;
    height: 10px;
    box-shadow: none;
}

.leaflet-popup .leaflet-popup-close-button{
    display: none;
}

.panel {
  overflow-y: hidden;
  height: 100%;
  text-align: left;
  font-size: 0.9rem;
  border-right: 1px solid var(--color-grey-light);
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
  background: var(--color-white);
}
.content {
  height: 100%;
  overflow-y: auto;
}
.header-title {
  margin: 0;
  padding-left: 1rem;
  height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
  border-bottom: 1px solid var(--color-grey-light);
  flex-shrink: 0;
}
.block {
  padding: 1rem;
}
.block .title {
  font-size: 1rem;
  margin: 0 0 1rem;
}
.block .title:before {
  margin-right: 0.5rem;
}
.block .panel-name {
  font-size: 1.2rem;
}
.description {
  font-size: 0.9rem;
  margin: 0;
}
.block-documents a {
  display: block;
  margin-bottom: 0.5rem;
}
.block-documents a:last-child {
  margin-bottom: 0;
}



.buttons-set {
    padding: 1rem;
    border-top: 1px solid var(--color-grey-light);
}
.buttons-set button {
    margin-right: 1rem;
    width: 155px;
    cursor: pointer;
}
.buttons-set button:last-child {
    margin-right: 0;
}



.markers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px 0 10px;
}

.MarkerIcon {
    display: flex;
    box-sizing: border-box;
    padding: 8px;
    font-size: 0.8rem;
    items-align: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid var(--color-grey-light);
    color: var(--color-grey-medium);
    margin-left: -1px;
    margin-bottom: -1px;
    width: 25%;
    cursor: pointer;
}
.MarkerIcon:hover {
    background: var(--color-blue-soft);
}

.MarkerIcon.active {
    color: var(--color-grey-dark);
    background: var(--color-blue-soft);
    font-weight: bold;
}

.MarkerIcon span {
    margin-top: 0.5rem;
}

.MarkerIcon .marker-icon {
    border-radius: 30px;
    width: 32px;
    height: 32px;
}

.MarkerIcon .marker-icon {
    border-radius: 30px;
    width: 32px;
    height: 32px;
    align-self: center;
}
.MarkerIcon .marker-icon.mdi:before {
    margin-top: 6px;
}
.marker-icon {
  background-color: var(--color-grey-medium);
}
