.MarkerCreationDetail {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
}

.MarkerCreationDetail input {
    width: 100%;
}

.MarkerCreationDetail textarea {
    width: 100%;
    height: 100px;
}

.MarkerCreationDetail a {
    color: #65B3F0;
}

.MarkerCreationDetail .coordinates-inputs input {
    width: 170px;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.MarkerCreationDetail .coordinates-inputs span {
    display: inline-block;
    width: 75px;
}
.MarkerCreationDetail .coordinates-inputs > * {
    margin-top: 10px;
}

.MarkerCreationDetail .coordinates-inputs > *:first-child {
    margin-top: 0px;
}

.MarkerCreationDetail .content {
    flex-grow: 1;
}

.MarkerCreationDetail h2.mdi:before {
    margin-right: 8px;
}

.MarkerCreationDetail .color-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.MarkerCreationDetail .color-block div.selected {
    border: 2px solid #777777;
}

.MarkerCreationDetail .color-block div {
    border: 2px solid white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 0 5px 5px 0;
    cursor: pointer;
}
