.

.MarkerDetail {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
}

.MarkerDetail input {
    padding: 10px;
    margin: 15px 0;
    width: 88%;
    background: #F5F8FA;
    border: 1px solid #cccccc;
}

.MarkerDetail textarea {
    padding: 10px;
    margin: 10px 0;
    width: 88%;
    height: 100px;
    background: #F5F8FA;
    border: 1px solid #cccccc;
}

.MarkerDetail .coordinates-inputs input {
    width: 130px;
    margin: 5px;
}
.MarkerDetail .coordinates-inputs span {
    display: inline-block;
    width: 60px;
}

.MarkerDetail .content {
    flex-grow: 1;
}

.MarkerDetail .docs .plus{
    cursor: pointer;
}

.MarkerDetail h2.mdi:before {
    margin-right: 8px;
}

.MarkerDetail .markers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px 0 10px;
}

.MarkerDetail .MarkerIcon {
    display: flex;
    padding: 8px;
    font-size: 10px;
    items-align: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid #cccccc;
    width: 35px;
}

.MarkerDetail .MarkerIcon.active {
    background: #dddddd;
}

.MarkerDetail .MarkerIcon span {
    margin: 3px 0;
}

.MarkerDetail .MarkerIcon .marker-icon {
    border-radius: 10px;
}
