.MarkerCreationDetail {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
}

.MarkerCreationDetail input {
    width: 100%;
}

.MarkerCreationDetail textarea {
    width: 100%;
    height: 100px;
}

.MarkerCreationDetail a {
    color: #65B3F0;
}

.MarkerCreationDetail .coordinates-inputs input {
    width: 130px;
    margin: 5px;
}
.MarkerCreationDetail .coordinates-inputs span {
    display: inline-block;
    width: 35px;
}

.MarkerCreationDetail .content {
    flex-grow: 1;
}

.MarkerCreationDetail h2.mdi:before {
    margin-right: 8px;
}

.MarkerCreationDetail .markers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px 0 10px;
}

.MarkerCreationDetail .MarkerIcon {
    display: flex;
    box-sizing: border-box;
    padding: 8px;
    font-size: 0.8rem;
    items-align: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid var(--color-grey-light);
    color: var(--color-grey-medium);
    margin-left: -1px;
    margin-bottom: -1px;
    width: 25%;
    cursor: pointer;
}
.MarkerCreationDetail .MarkerIcon:hover {
    background: var(--color-blue-soft);
}

.MarkerCreationDetail .MarkerIcon.active {
    color: var(--color-grey-dark);
    background: var(--color-blue-soft);
    font-weight: bold;
}

.MarkerCreationDetail .MarkerIcon span {
    margin-top: 0.5rem;
}

.MarkerCreationDetail .MarkerIcon .marker-icon {
    border-radius: 30px;
    width: 32px;
    height: 32px;
}

.MarkerCreationDetail .MarkerIcon .marker-icon {
    border-radius: 30px;
    width: 32px;
    height: 32px;
    align-self: center;
}
.MarkerCreationDetail .MarkerIcon .marker-icon:before {
    margin-top: 6px;
}

.MarkerCreationDetail .color-block {
    display: flex;
    flex-direction: row;
}

.MarkerCreationDetail .color-block div.selected {
    border: 2px solid #777777;
}

.MarkerCreationDetail .color-block div {
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.MarkerCreationDetail .color-block .white-color {
    background: white;
}

.MarkerCreationDetail .color-block .red-color {
    background: red;
}

.MarkerCreationDetail .color-block .green-color {
    background: green;
}

.MarkerCreationDetail .color-block .blue-color {
    background: blue;
}

.MarkerCreationDetail .color-block .black-color {
    background: black;
}
