.MarkerCreationDetail {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
}

.MarkerCreationDetail input {
    width: 100%;
}

.MarkerCreationDetail textarea {
    width: 100%;
    height: 100px;
}

.MarkerCreationDetail a {
    color: #65B3F0;
}

.MarkerCreationDetail .coordinates-inputs input {
    width: 130px;
    margin: 5px;
}
.MarkerCreationDetail .coordinates-inputs span {
    display: inline-block;
    width: 35px;
}

.MarkerCreationDetail .content {
    flex-grow: 1;
}

.MarkerCreationDetail h2.mdi:before {
    margin-right: 8px;
}

.MarkerCreationDetail .markers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px 0 10px;
}

.MarkerCreationDetail .MarkerIcon {
    display: flex;
    padding: 8px;
    font-size: 10px;
    items-align: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid #cccccc;
    width: 35px;
}

.MarkerCreationDetail .MarkerIcon.active {
    background: #dddddd;
}

.MarkerCreationDetail .MarkerIcon span {
    margin: 3px 0;
}

.MarkerCreationDetail .MarkerIcon .marker-icon {
    border-radius: 10px;
}
