.Menu {
    position: fixed;
    flex-direction: column;
    left: 0;
    width: 60px;
    display: flex;
    background: #29353D;
    color: #859cad;
    z-index: 60000;
    height: 100%;
    border-right: 1px solid #859cad;
}

.Menu .project-info-icon {
    padding: 10px;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    cursor: pointer;
}

.Menu .project-info-icon.active {
    background: #38556A;
    color: #ffffff;
}

.Menu .empty {
    flex-grow: 1;
}

.Menu .end {
    flex-grow: 0;
}

.Menu .user {
    padding: 5px;
    font-size: .7rem;
}

.Menu .user .avatar {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.Menu .map {
    align-self: center;
    width: 48px;
    height: 48px;
    padding: 10px;
}

