.Menu {
    position: fixed;
    flex-direction: column;
    right: 0;
    width: 80px;
    display: flex;
    background: #eeeeee;
    z-index: 60000;
    height: 100%;
}

.Menu .logo {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.Menu .user {
    padding: 10px;
    font-size: .7rem;
}

.Menu .user .avatar {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.Menu .members {
    align-self: center;
    width: 48px;
    height: 48px;
    padding: 10px;
}

.Menu .chat {
    align-self: center;
    width: 48px;
    height: 48px;
    padding: 10px;
}

.Menu .document {
    align-self: center;
    width: 48px;
    height: 48px;
    padding: 10px;
}

.Menu .folder {
    align-self: center;
    width: 48px;
    height: 48px;
    padding: 10px;
}

.Menu .marker {
    align-self: center;
    width: 48px;
    height: 48px;
    padding: 10px;
}

.Menu .map {
    align-self: center;
    width: 48px;
    height: 48px;
    padding: 10px;
}

.Menu .add-marker {
    position: relative;
    align-self: center;
    width: 48px;
    height: 48px;
    padding: 10px;
}

.Menu .actions {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.Menu .end {
    flex-grow: 0;
    padding: 10px;
}

.Menu .markers-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    right: 60px;
    top: -190px;
    width: 150px;
    height: 320px;
    background: #eeeeee;
    padding: 0;
    border-radius: 10px;
    border: 1px solid #aaaaaa;
    box-shadow: 3px 3px 3px #888888;
}

.Menu .markers-box .marker-icon {
    align-self: center;
    padding: 14px;
    width: 50px;
    height: 50px;
}
