.ToolsMenu {
    flex-direction: row;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    background: #29353D;
    color: #859cad;
    z-index: 60000;
    height: 100%;
}

.ToolsMenu .marker {
    align-self: center;
    padding: 15px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.ToolsMenu .marker.active {
    background: #38556A;
    color: #ffffff;
}

.ToolsMenu .cursor-box {
    display: flex;
    position: absolute;
    right: 10px;
    width: 140px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.ToolsMenu .cursor-box span {
    width: 60px;
}
