.ToolsMenu {
    flex-direction: row;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    background: #29353D;
    color: #859cad;
    z-index: 60000;
    height: 100%;
}

.ToolsMenu .marker {
    align-self: center;
    width: 48px;
    height: 48px;
    padding: 10px;
    cursor: pointer;
}

.ToolsMenu .marker.active {
    background: #38556A;
    color: #ffffff;
}
